<h1>Data Result</h1>

<h3>Date: <%= @searched_date %></h3>
<h3>Postcode: <%= @name %></h3>

<h4>Location Detail:</h5>
<% @locations.each do |location| %>
  <p>Station : <%= location.location_id%> <br/>
  Latitude : <%= location.lat%> <br/>
  Longtitude : <%= location.long%> <br/>
  Lastest Update : <%= location.latest_update.strftime("%I:%M%p %d-%m-%y")%></p>

  <table>
    <thead>
      <tr>
        <th width="10%">Temperature</th>
        <th width="10%">Rainfall</th>
        <th width="10%">Windspeed</th>
        <th width="10%">Winddirection</th>
        <th width="10%">Time</th>
        <th width="10%"></th>
      </tr>
    </thead>

    <tbody>
      <% @locations.each do |location| %>
        <% @result_date.each do |forecast| %>
          <%if forecast.location_id == location.id %>
            <tr>
              <td width="10%"><%= forecast.temp%></td>
              <td width="10%"><%= forecast.rainfall%></td>
              <td width="10%"><%= forecast.windSpeed%></td>
              <td width="10%"><%= forecast.windDirection%></td>
              <td width="10%"><%= forecast.datetime.strftime("%I:%M%p %d-%m-%y")%></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
<%end%>