<h3>List Location</h3>

<h4>Date:<%= @date %></h4>
<table>
  <thead>
    <tr>
      <th width="30%">Name</th>
      <th colspan="5">Postcode</th>
      <th colspan="5">Latitude</th>
      <th colspan="5">Longitude</th>
      <th colspan="5">LastUpdate</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
  	<% @locations.each do |location| %>
  		<tr>
  		 	<td colspan="5"><%= location.location_id %></td>
  		 	<td colspan="5"><%= location.post_code%></td>
            <td colspan="5"><%= location.lat%></td>
            <td colspan="5"><%= location.long%></td>
            <td colspan="5"><%= location.latest_update.strftime("%I:%M%p %d-%m-%y")%></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'Home Page', weathers_path %>

