<h3>List Location</h3>

<h4>Date:<%= @date %></h4>
<table>
  <thead>
    <tr>
      <th width="15%">Name</th>
      <th width="10%">Postcode</th>
      <th width="10%">Latitude</th>
      <th width="10%">Longitude</th>
      <th width="10%">LastUpdate</th>
      <th width="10%"></th>
    </tr>
  </thead>

  <tbody>
  	<% @locations.each do |location| %>
  		<tr>
  		 	<td width="10%"><%= location.location_id %></td>
  		 	<td width="10%"><%= location.post_code%></td>
            <td width="10%"><%= location.lat%></td>
            <td width="10%"><%= location.long%></td>
            <td width="10%"><%= location.latest_update.strftime("%I:%M%p %d-%m-%y")%></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'Home Page', weathers_path %>

