<h1>Prediction Form</h1>

<h4> Search by Station Name </h4>

<%= form_tag weathers_prediction_path, :method => 'get' do %>
    <p>
      <%= label_tag(:by_id, "Search for:") %>
      <%= select_tag :by_location, options_from_collection_for_select(@locations, :id, :location_id) %>
      <%= select_tag :by_time,options_for_select([10,30,60,120,180]) %>
      <%= submit_tag "Submit", :name => nil%>
    </p>
<% end %>


<h4> Search for station by Latitude & Longitude </h4>
<%= form_tag weathers_prediction_path, :method => 'get' do %>
    <p>
      <%= label_tag(:by_latlong, "Search for:") %>
      <%= number_field_tag  :lat, -37.83, step: 'any'%>
      <%= number_field_tag  :long, 144.98, step: 'any'%>
      <%= select_tag :by_time, options_for_select([10,30,60,120,180]) %>
      <%= submit_tag "Submit", :name => nil%>
    </p>
<% end %>

<%= link_to 'home', weathers_path %>

<% if @render %>
    <h1> Predictions for <%= @location %></h1>
    <table>
      <thead>
      <tr>
        <th width="5%">Time From now</th>
        <th width="10%">Temp</th>
        <th width="10%">(probability)</th>
        <th width="10%">Rainfall</th>
        <th width="10%">(probability)</th>
        <th width="10%">WindSpeed</th>
        <th width="10%">(probability)</th>
        <th width="10%">Wind Direction</th>
        <th width="10%">(probability)</th>
        <th width="10%">Time</th>
      </tr>
      </thead>

      <tbody>
      <% (0..@predictions[1].count).map{|x| @predictions.map{|y| y[x]}}.each do |prediction| %>
          <tr>
            <td width="5%"><%= prediction[0] %></td>
            <td width="10%"><%= prediction[1] %></td>
            <td width="10%"><%= prediction[2] %></td>
            <td width="10%"><%= prediction[3] %></td>
            <td width="10%"><%= prediction[4] %></td>
            <td width="10%"><%= prediction[5] %></td>
            <td width="10%"><%= prediction[6] %></td>
            <td width="10%"><%= prediction[7] %></td>
            <td width="10%"><%= prediction[8] %></td>
            <% if !prediction[0].nil? %>
                <td width="10%"><%= @time.strftime("%I:%M%p %d-%m-%y") %></td>
                <% @time = @time + 600 %>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>